<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated b -->
      <package
            uri="http://www.example.org/b"
            class="b.BPackage"
            genModel="model/b.genmodel"/>
   </extension>

</plugin>
