<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated epibase -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="epibase.presentation.EpibaseModelWizardID"
            name="%_UI_EpibaseModelWizard_label"
            class="epibase.presentation.EpibaseModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/EpibaseModelFile.gif">
         <description>%_UI_EpibaseModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated epibase -->
      <editor
            id="epibase.presentation.EpibaseEditorID"
            name="%_UI_EpibaseEditor_label"
            icon="icons/full/obj16/EpibaseModelFile.gif"
            extensions="epibase"
            class="epibase.presentation.EpibaseEditor"
            contributorClass="epibase.presentation.EpibaseActionBarContributor">
      </editor>
   </extension>

</plugin>
