<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated epidemicDimension -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="epidemicDimension.presentation.EpidemicDimensionModelWizardID"
            name="%_UI_EpidemicDimensionModelWizard_label"
            class="epidemicDimension.presentation.EpidemicDimensionModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/EpidemicDimensionModelFile.gif">
         <description>%_UI_EpidemicDimensionModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated epidemicDimension -->
      <editor
            id="epidemicDimension.presentation.EpidemicDimensionEditorID"
            name="%_UI_EpidemicDimensionEditor_label"
            icon="icons/full/obj16/EpidemicDimensionModelFile.gif"
            extensions="epidemicdimension"
            class="epidemicDimension.presentation.EpidemicDimensionEditor"
            contributorClass="epidemicDimension.presentation.EpidemicDimensionActionBarContributor">
      </editor>
   </extension>

</plugin>
