<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated a -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="a.presentation.AModelWizardID"
            name="%_UI_AModelWizard_label"
            class="a.presentation.AModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/AModelFile.gif">
         <description>%_UI_AModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated a -->
      <editor
            id="a.presentation.AEditorID"
            name="%_UI_AEditor_label"
            icon="icons/full/obj16/AModelFile.gif"
            extensions="a"
            class="a.presentation.AEditor"
            contributorClass="a.presentation.AActionBarContributor">
      </editor>
   </extension>

</plugin>
