<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated epi_merged -->
      <package
            uri="http://www.example.org/epi_merged"
            class="epi_merged.Epi_mergedPackage"
            genModel="model/epi_merged.genmodel"/>
   </extension>

</plugin>
