<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated resource -->
      <package
            uri="http://www.example.org/resource"
            class="resource.ResourcePackage"
            genModel="model/resource.genmodel"/>
   </extension>

</plugin>
