<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated transformedEpidemic -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="transformedEpidemic.presentation.TransformedEpidemicModelWizardID"
            name="%_UI_TransformedEpidemicModelWizard_label"
            class="transformedEpidemic.presentation.TransformedEpidemicModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/TransformedEpidemicModelFile.gif">
         <description>%_UI_TransformedEpidemicModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated transformedEpidemic -->
      <editor
            id="transformedEpidemic.presentation.TransformedEpidemicEditorID"
            name="%_UI_TransformedEpidemicEditor_label"
            icon="icons/full/obj16/TransformedEpidemicModelFile.gif"
            extensions="transformedepidemic"
            class="transformedEpidemic.presentation.TransformedEpidemicEditor"
            contributorClass="transformedEpidemic.presentation.TransformedEpidemicActionBarContributor">
      </editor>
   </extension>

</plugin>
