<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated b -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="b.presentation.BModelWizardID"
            name="%_UI_BModelWizard_label"
            class="b.presentation.BModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/BModelFile.gif">
         <description>%_UI_BModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated b -->
      <editor
            id="b.presentation.BEditorID"
            name="%_UI_BEditor_label"
            icon="icons/full/obj16/BModelFile.gif"
            extensions="b"
            class="b.presentation.BEditor"
            contributorClass="b.presentation.BActionBarContributor">
      </editor>
   </extension>

</plugin>
