<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated test2 -->
      <package
            uri="http://www.example.org/test2"
            class="test2.Test2Package"
            genModel="model/test2.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated test2 -->
      <package
            uri="http://www.example.org/test1"
            class="test1.Test1Package"
            genModel="model/test2.genmodel"/>
   </extension>

</plugin>
