<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated link -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="link.presentation.LinkModelWizardID"
            name="%_UI_LinkModelWizard_label"
            class="link.presentation.LinkModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/LinkModelFile.gif">
         <description>%_UI_LinkModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated link -->
      <editor
            id="link.presentation.LinkEditorID"
            name="%_UI_LinkEditor_label"
            icon="icons/full/obj16/LinkModelFile.gif"
            extensions="link"
            class="link.presentation.LinkEditor"
            contributorClass="link.presentation.LinkActionBarContributor">
      </editor>
   </extension>

</plugin>
