<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated dimensions -->
      <package
            uri="http://www.example.org/dimensions"
            class="dimensions.DimensionsPackage"
            genModel="model/dimensions.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated dimensions -->
      <package
            uri="http://www.example.org/epibase"
            class="epibase.EpibasePackage"
            genModel="model/dimensions.genmodel"/>
   </extension>

</plugin>
