<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated dimensionReference -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="dimensionReference.presentation.DimensionReferenceModelWizardID"
            name="%_UI_DimensionReferenceModelWizard_label"
            class="dimensionReference.presentation.DimensionReferenceModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/DimensionReferenceModelFile.gif">
         <description>%_UI_DimensionReferenceModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated dimensionReference -->
      <editor
            id="dimensionReference.presentation.DimensionReferenceEditorID"
            name="%_UI_DimensionReferenceEditor_label"
            icon="icons/full/obj16/DimensionReferenceModelFile.gif"
            extensions="dimensionreference"
            class="dimensionReference.presentation.DimensionReferenceEditor"
            contributorClass="dimensionReference.presentation.DimensionReferenceActionBarContributor">
      </editor>
   </extension>

</plugin>
