<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Epidemic -->
      <package
            uri="geodes.sms.mde"
            class="EpidemicRoot.EpidemicRootPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PhysicalEpimetamodel -->
      <package
            uri="geodes.sms.mde"
            class="PhysicalEpidemicRoot.PhysicalEpidemicRootPackage"
            genModel="metamodels/PhysicalEpimetamodel.genmodel"/>
   </extension>

</plugin>
