<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated Epidemic -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="Epidemic.presentation.EpidemicModelWizardID"
            name="%_UI_EpidemicModelWizard_label"
            class="Epidemic.presentation.EpidemicModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/EpidemicModelFile.gif">
         <description>%_UI_EpidemicModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated Epidemic -->
      <editor
            id="Epidemic.presentation.EpidemicEditorID"
            name="%_UI_EpidemicEditor_label"
            icon="icons/full/obj16/EpidemicModelFile.gif"
            extensions="epidemic"
            class="Epidemic.presentation.EpidemicEditor"
            contributorClass="Epidemic.presentation.EpidemicActionBarContributor">
      </editor>
   </extension>
</plugin>
