<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated Epidemic -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="EpidemicRoot.presentation.EpidemicRootModelWizardID"
            name="%_UI_EpidemicRootModelWizard_label"
            class="EpidemicRoot.presentation.EpidemicRootModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/EpidemicRootModelFile.gif">
         <description>%_UI_EpidemicRootModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated Epidemic -->
      <editor
            id="EpidemicRoot.presentation.EpidemicRootEditorID"
            name="%_UI_EpidemicRootEditor_label"
            icon="icons/full/obj16/EpidemicRootModelFile.gif"
            extensions="epidemicroot"
            class="EpidemicRoot.presentation.EpidemicRootEditor"
            contributorClass="EpidemicRoot.presentation.EpidemicRootActionBarContributor">
      </editor>
   </extension>
</plugin>
