<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated link -->
      <package
            uri="http://www.example.org/link"
            class="link.LinkPackage"
            genModel="model/link.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated link -->
      <package
            uri="http://www.example.org/resource"
            class="resource.ResourcePackage"
            genModel="model/link.genmodel"/>
   </extension>

</plugin>
