<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated group -->
      <package
            uri="http://www.example.org/group"
            class="group.GroupPackage"
            genModel="model/group.genmodel"/>
   </extension>

</plugin>
