<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated a -->
      <package
            uri="http://www.example.org/a"
            class="a.APackage"
            genModel="model/a.genmodel"/>
   </extension>

</plugin>
