<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="seir">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/releases/latest/"/>
			<unit id="org.eclipse.emf.sdk.feature.group" version="2.40.0.v20241018-1213"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20230531010532/repository/"/>
			<unit id="org.junit" version="4.13.2.v20211018-1956"/>
			<unit id="org.junit.jupiter.api" version="5.9.1.v20221103-2317"/>
			<unit id="org.junit.jupiter.api.source" version="5.9.1.v20221103-2317"/>
			<unit id="org.junit.jupiter.engine" version="5.9.1.v20221103-2317"/>
			<unit id="org.junit.jupiter.engine.source" version="5.9.1.v20221103-2317"/>
			<unit id="org.junit.jupiter.migrationsupport" version="5.9.1.v20221103-2317"/>
			<unit id="org.junit.jupiter.migrationsupport.source" version="5.9.1.v20221103-2317"/>
			<unit id="org.junit.jupiter.params" version="5.9.1.v20221103-2317"/>
			<unit id="org.junit.jupiter.params.source" version="5.9.1.v20221103-2317"/>
			<unit id="org.junit.platform.commons" version="1.9.1.v20221103-2317"/>
			<unit id="org.junit.platform.commons.source" version="1.9.1.v20221103-2317"/>
			<unit id="org.junit.platform.engine" version="1.9.1.v20221103-2317"/>
			<unit id="org.junit.platform.engine.source" version="1.9.1.v20221103-2317"/>
			<unit id="org.junit.platform.launcher" version="1.9.1.v20221103-2317"/>
			<unit id="org.junit.platform.launcher.source" version="1.9.1.v20221103-2317"/>
			<unit id="org.junit.platform.runner" version="1.9.1.v20221103-2317"/>
			<unit id="org.junit.platform.runner.source" version="1.9.1.v20221103-2317"/>
			<unit id="org.junit.platform.suite.api" version="1.9.1.v20221103-2317"/>
			<unit id="org.junit.platform.suite.api.source" version="1.9.1.v20221103-2317"/>
			<unit id="org.junit.platform.suite.commons" version="1.9.1.v20221103-2317"/>
			<unit id="org.junit.platform.suite.commons.source" version="1.9.1.v20221103-2317"/>
			<unit id="org.junit.platform.suite.engine" version="1.9.1.v20221103-2317"/>
			<unit id="org.junit.platform.suite.engine.source" version="1.9.1.v20221103-2317"/>
			<unit id="org.junit.source" version="4.13.2.v20211018-1956"/>
			<unit id="org.junit.vintage.engine" version="5.9.1.v20221103-2317"/>
			<unit id="org.junit.vintage.engine.source" version="5.9.1.v20221103-2317"/>
			<unit id="org.mockito.junit-jupiter" version="4.8.1.v20221103-2317"/>
			<unit id="org.mockito.junit-jupiter.source" version="4.8.1.v20221103-2317"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/releases/latest/"/>
			<unit id="org.eclipse.sdk.feature.group" version="4.34.0.v20241120-1800"/>
		</location>
	</locations>
</target>