<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated test_metamodel -->
      <package
            uri="http://www.example.org/test_metamodel"
            class="test_metamodel.Test_metamodelPackage"
            genModel="model/test_metamodel.genmodel"/>
   </extension>

</plugin>
