<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated batchRateContactFlows -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="batchRateContactFlows.presentation.BatchRateContactFlowsModelWizardID"
            name="%_UI_BatchRateContactFlowsModelWizard_label"
            class="batchRateContactFlows.presentation.BatchRateContactFlowsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/BatchRateContactFlowsModelFile.gif">
         <description>%_UI_BatchRateContactFlowsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated batchRateContactFlows -->
      <editor
            id="batchRateContactFlows.presentation.BatchRateContactFlowsEditorID"
            name="%_UI_BatchRateContactFlowsEditor_label"
            icon="icons/full/obj16/BatchRateContactFlowsModelFile.gif"
            extensions="batchratecontactflows"
            class="batchRateContactFlows.presentation.BatchRateContactFlowsEditor"
            contributorClass="batchRateContactFlows.presentation.BatchRateContactFlowsActionBarContributor">
      </editor>
   </extension>

</plugin>
