<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated epimodel -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="epimodel.presentation.EpimodelModelWizardID"
            name="%_UI_EpimodelModelWizard_label"
            class="epimodel.presentation.EpimodelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/EpimodelModelFile.gif">
         <description>%_UI_EpimodelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated epimodel -->
      <editor
            id="epimodel.presentation.EpimodelEditorID"
            name="%_UI_EpimodelEditor_label"
            icon="icons/full/obj16/EpimodelModelFile.gif"
            extensions="epimodel"
            class="epimodel.presentation.EpimodelEditor"
            contributorClass="epimodel.presentation.EpimodelActionBarContributor">
      </editor>
   </extension>

</plugin>
