<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated c -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="c.presentation.CModelWizardID"
            name="%_UI_CModelWizard_label"
            class="c.presentation.CModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CModelFile.gif">
         <description>%_UI_CModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated c -->
      <editor
            id="c.presentation.CEditorID"
            name="%_UI_CEditor_label"
            icon="icons/full/obj16/CModelFile.gif"
            extensions="c"
            class="c.presentation.CEditor"
            contributorClass="c.presentation.CActionBarContributor">
      </editor>
   </extension>

</plugin>
