<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated batchRateContactFlows -->
      <factory
            uri="http://www.example.org/batchRateContactFlows"
            class="batchRateContactFlows.provider.BatchRateContactFlowsItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated batchRateContactFlows -->
      <extender
            uri="http://www.example.org/epidemicDimension"
            class="batchRateContactFlows.provider.BatchRateContactFlowsItemProviderAdapterFactory$EpidemicDimensionChildCreationExtender"/>
      <extender
            uri="http://www.example.org/epimodel"
            class="batchRateContactFlows.provider.BatchRateContactFlowsItemProviderAdapterFactory$EpimodelChildCreationExtender"/>
   </extension>

</plugin>
