<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated epimodelgroup -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="epimodelgroup.presentation.EpimodelgroupModelWizardID"
            name="%_UI_EpimodelgroupModelWizard_label"
            class="epimodelgroup.presentation.EpimodelgroupModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/EpimodelgroupModelFile.gif">
         <description>%_UI_EpimodelgroupModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated epimodelgroup -->
      <editor
            id="epimodelgroup.presentation.EpimodelgroupEditorID"
            name="%_UI_EpimodelgroupEditor_label"
            icon="icons/full/obj16/EpimodelgroupModelFile.gif"
            extensions="epimodelgroup"
            class="epimodelgroup.presentation.EpimodelgroupEditor"
            contributorClass="epimodelgroup.presentation.EpimodelgroupActionBarContributor">
      </editor>
   </extension>

</plugin>
