<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated batchRateContactFlow -->
      <package
            uri="http://www.example.org/batchRateContactFlow"
            class="batchRateContactFlow.BatchRateContactFlowPackage"
            genModel="model/batchRateContactFlow.genmodel"/>
   </extension>

</plugin>
