<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="org.epimodel.ProjectCreationView"
            id="org.epimodel.ProjectCreation"
            name="Epidemiological Project Creation"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.epimodel.EpidemiologicalModelingPerspective"
            id="org.epimodel.EpidemiologicalModelingPerspective"
            name="Epidemiological Modeling Perspective">
      </perspective>
   </extension>

</plugin>
