<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="org.epimodel.ProjectCreationView"
            id="org.epimodel.ProjectCreation"
            name="Epidemiological Project Creation"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.epimodel.EpidemiologicalModelingPerspective"
            id="org.epimodel.EpidemiologicalModelingPerspective"
            name="Epidemiological Modeling Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="false"
            category="org.epimodel.epimodelprojectcategory"
            class="org.epimodel.epimodelprojectcreationwizard"
            finalPerspective="org.epimodel.EpidemiologicalModelingPerspective"
            hasPages="true"
            id="org.epimodel.epimodelprojectcreationwizard"
            name="Epidemiological Project"
            preferredPerspectives="org.epimodel.EpidemiologicalModelingPerspective"
            project="true">
      </wizard>
      <category
            id="org.epimodel.epimodelprojectcategory"
            name="Epidemiological Modeling">
      </category>
   </extension>
   <extension
         id="org.epimodel.EpimodelProjectNature"
         name="Epimodel Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.epimodel.natures.EpimodelProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.sirius.externalJavaAction">
      <javaActions
            actionClass="org.epimodel.ExternalJavaActionEditCompartment"
            id="org.epimodel.javaActionsEditCompartment">
      </javaActions>
      <javaActions
            actionClass="org.epimodel.ExternalJavaActionEditFlow"
            id="org.epimodel.javaActionsEditFlow">
      </javaActions>
   </extension>

</plugin>
