<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated PhysicalEpimetamodel -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="PhysicalEpidemic.presentation.PhysicalEpidemicModelWizardID"
            name="%_UI_PhysicalEpidemicModelWizard_label"
            class="PhysicalEpidemic.presentation.PhysicalEpidemicModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/PhysicalEpidemicModelFile.gif">
         <description>%_UI_PhysicalEpidemicModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated PhysicalEpimetamodel -->
      <editor
            id="PhysicalEpidemic.presentation.PhysicalEpidemicEditorID"
            name="%_UI_PhysicalEpidemicEditor_label"
            icon="icons/full/obj16/PhysicalEpidemicModelFile.gif"
            extensions="physicalepidemic"
            class="PhysicalEpidemic.presentation.PhysicalEpidemicEditor"
            contributorClass="PhysicalEpidemic.presentation.PhysicalEpidemicActionBarContributor">
      </editor>
   </extension>
</plugin>
