<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated dimensionEpidemic -->
      <factory
            uri="http://www.example.org/dimensionEpidemic"
            class="dimensionEpidemic.provider.DimensionEpidemicItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated dimensionEpidemic -->
      <extender
            uri="http://www.example.org/epimodel"
            class="dimensionEpidemic.provider.DimensionEpidemicItemProviderAdapterFactory$EpimodelChildCreationExtender"/>
   </extension>

</plugin>
