<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated seir -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="seirmodel.presentation.SeirmodelModelWizardID"
            name="%_UI_SeirmodelModelWizard_label"
            class="seirmodel.presentation.SeirmodelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SeirmodelModelFile.gif">
         <description>%_UI_SeirmodelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated seir -->
      <editor
            id="seirmodel.presentation.SeirmodelEditorID"
            name="%_UI_SeirmodelEditor_label"
            icon="icons/full/obj16/SeirmodelModelFile.gif"
            extensions="xmi"
            class="seirmodel.presentation.SeirmodelEditor"
            contributorClass="seirmodel.presentation.SeirmodelActionBarContributor">
      </editor>
   </extension>

</plugin>
