<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated epidimensionsrefgroup -->
      <package
            uri="http://www.example.org/epidimensionsrefgroup"
            class="epidimensionsrefgroup.EpidimensionsrefgroupPackage"
            genModel="model/epidimensionsrefgroup.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated epidimensionsrefgroup -->
      <package
            uri="http://www.example.org/epidimensionsbase"
            class="epidimensionsbase.EpidimensionsbasePackage"
            genModel="model/epidimensionsrefgroup.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated epidimensionsrefgroup -->
      <package
            uri="http://www.example.org/epibase"
            class="epibase.EpibasePackage"
            genModel="model/epidimensionsrefgroup.genmodel"/>
   </extension>

</plugin>
